body
{
    background-color: #a9f04b;
    text-align: center;
    align-items: center;
}

h1
{
    font-family: 'Arial', sans-serif;
    color:rgb(38, 0, 255);
    background-color: cornsilk;
}

#sketchName
{
    color: red;
}

#show_sketch
{
    float: right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px; 
    animation-iteration-count: infinite;

}
@keyframes example {

    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}

}

p, span
{
    padding-top: 10xp;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
}

#score
{
    font-size: 35px;
    margin-left: 20px;
}

#time
{
    font-size: 35px;
    float: right;
    margin-right: 20xp;
}